.message {
    border-radius:5px;
    padding: 0.5em;
    display: inline-block;
}

.message.system {
    background-color: gray;
}

.message.user {
    background-color: lightblue;
    margin-right: 2em;
    width: auto;
    flex-direction: row-reverse;
}

.input-form {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom:2rem;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

.input-form input[type='text'] {
    margin-right: 1rem;
    flex-grow: 1;
    line-height: 2;
}

.send-button {
    background-color: gray;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.person-card {
    justify-content: start;
    width: auto;
}

.main-div {
    height:100vh;
    flex-direction:column;
    overflow-y: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;