.message {
    border-radius:5px;
    padding: 0.5em;
    display: inline-block;
}

.message.system {
    background-color: gray;
}

.message.user {
    background-color: lightblue;
    margin-right: 2em;
    width: auto;
    flex-direction: row-reverse;
}

.input-form {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom:2rem;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

.input-form input[type='text'] {
    margin-right: 1rem;
    flex-grow: 1;
    line-height: 2;
}

.send-button {
    background-color: gray;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.person-card {
    justify-content: start;
    width: auto;
}

.main-div {
    height:100vh;
    flex-direction:column;
    overflow-y: auto;
}

.job-run-card-container {
    background-color: gray; /* Light gray background */
    padding: 16px; /* Add some padding around the container */
    display: flex;
    flex-direction: column;
    gap: 16px; /* Space between cards */
}

.job-run-card {
    background-color: white; /* Card background color */
    border: 1px solid #ddd; /* Light border */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Internal padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.job-name {
    font-size: 1.5rem; /* Make the job name larger */
    font-weight: bold; /* Make the job name bold */
    margin-bottom: 8px; /* Space below the name */
}

.job-detail {
    font-size: 1rem; /* Standard font size for details */
    margin: 4px 0; /* Space between details */
}

@tailwind base;
@tailwind components;
@tailwind utilities;